@import "./tokens.css";

:root {
  --token-3482e7f4-ca60-466f-aa1f-53d45aca05d9: rgb(250, 250, 250);
  --token-4b2e1e47-a7ec-4fea-a0ce-eadd74c77d3b: rgb(255, 255, 255);
  --token-7ce17e0b-526a-4831-8d21-f7773fb57072: rgb(0, 0, 0);
  --token-e27a17f3-e906-4d22-a82d-877fde504653: rgba(0, 0, 0, 0.2);
  --token-b39a48ae-2f48-4067-9b92-9d8fcfd251a1: rgb(9, 174, 255);
  --token-b48b7134-7ad2-4f07-b792-c7a8003d791a: rgb(1, 43, 255);
  --token-52d49a3a-3ad9-4835-a3cb-87d0d1f6fc06: rgb(7, 11, 62);
  --token-faa83f4b-eb5a-4111-a586-ff3633f4da58: rgba(0, 0, 0, 0.7);
  --token-53d512fc-9508-4ca7-9593-aa4f8e122f95: rgba(255, 255, 255, 0.8);
  --token-cfa89a90-dbbb-4892-b359-3cd7c161f4ad: rgb(49, 91, 232);
  --token-22d3f34c-2981-4b25-b181-148f3f405183: rgba(255, 255, 255, 0.05);
  --token-8144f193-de43-475d-87ea-e22ad062944c: rgba(0, 0, 0, 0.1);
  --token-a75fb687-8d00-4d08-9407-fce93f119924: rgb(246, 248, 247);
  --token-2e8179f9-642e-40f6-a729-9879c38a7c7c: rgba(0, 0, 0, 0.4);
  --token-5ca9d1a6-60e9-4b58-be95-7cd78704268a: rgba(0, 0, 0, 0.05);
  --token-fd2642e7-ea40-4298-8994-88ab422747df: rgb(9, 153, 224);
  --token-03157c8f-9190-4af0-ae5c-b10d22f4922d: rgb(43, 182, 115);
  --token-621d9ebc-4113-4c98-9cca-bbc178460970: rgba(9, 174, 255, 0.2);
  --token-edd43b1b-e1c0-47ab-b700-0fd2dbef2982: rgba(255, 255, 255, 0.2);
  --token-a4819c6e-0dd1-4814-8b0b-cbf365a14f1a: rgb(250, 250, 250);
  --token-3e79ca65-ed75-4cd8-98e3-44362831f65e: rgba(0, 0, 0, 0.8);
  --token-e8be503c-36d3-4511-8754-07379d8f8757: rgba(0, 0, 0, 0.6);
  --token-1be088de-f41b-4031-bae0-a80f52f67dfd: rgba(9, 174, 255, 0.1);
  --token-6e1a1ed1-ae7c-48f6-8052-04efff6cc0ab: rgb(11, 186, 26);
  --token-a1edcf55-b80c-4b00-8dc3-d8e4199b18ee: rgba(0, 0, 0, 0.08);
  --token-52fd1831-77d8-4d28-b23b-c4a80f84cb84: rgb(2, 37, 212);
  --token-bfdae1e4-91e8-463a-8cf8-3968004590a9: rgba(255, 255, 255, 0.6);
  --token-df0d70be-4f83-4b31-86f2-fe7fda12bad9: rgb(255, 255, 255);
  --font-inter: 'Inter', 'Inter Fallback', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-page-bg, #fafafa);
  font-family: var(--font-inter, 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
}
